<div class="warning">
    <p class="highlighted">Přihlašování není otevřené</p>
    <p>
        Přihlášku je možné odeslat pouze mezi <span style="font-weight:bold">{$appOpen}</span> a <span style="font-weight:bold">{$appClose}</span> SELČ.
    </p>
</div>
