<div class="warning">
    <h4>Přihlašování není v současné době otevřené</h4>
    <p>
        Přihlášku je možné odeslat pouze mezi daty <span style="width:bold">{$appOpen}</span> a <span style="width:bold">{$appClose}</span>
    </p>
</div>