<div class="warning">
    <p class="highlighted">Přihlašování není otevřené</p>
    <p>
        Přihlášku je možné odeslat pouze mezi daty <span style="width:bold">{$appOpen}</span> a <span style="width:bold">{$appClose}.</span>
    </p>
</div>
