<div class="error">
    <p class="highlighted">Přihláška již existuje</p>
    <p>
        Přihláška na Vaše jméno byla letos již zaznamenána.
    </p>
    <p>
        Pokud si přejete změnit osobní údaje nebo upravit podrobnosti přihlášky, napište tyto změny organizačnímu týmu na adresu <a href="mailto:{$respondMail}">{$respondMail}</a>
    </p>
</div>
