<div class="error">
    <h4>Přihláška již existuje</h4>
    <p>
        Přihláška na Vaše jméno byla letos již zaznamenána.
    </p>
    <p>
        Pokud si přejete změnit osobní údaje nebo upravit podrobnosti přihlášky, napište tyto změny organizačnímu týmu na adresu <a href="mailto:{$respondMail}">{$respondMail}</a>
    </p>
</div>