<div class="error">
    <h4>Při registraci nastala chyba</h4>
    <p>
        Zkuste znovunačíst stránku a vyplnit přihlášku znovu, případně to zkuste později.
    </p>
    <p>
        Pokud bude i nadále chyba přetrvávat, napište nám na adresu {$respondMail}. Děkujeme za zájem
    </p>
</div>