<div class="success">
    <p class="highlighted">Přihláška byla úspěšně odeslána</p>
    <p>
        Na Vaši e-mailovou adresu co nevidět přijde potvrzovací zpráva s rekapitulací zadaných údajů a pokyny k platbě účastnického poplatku.
    </p>
    <p>
        Berte prosím v potaz, že přihláška se stane platnou až po připsání částky na účet organizátora, a to <b>nejpozději do {$splatnost}</b>
    </p>
</div>
