@keyframes infinite-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

section#prihlaska {
  form.appform {
    margin: 0;
    overflow: hidden;
    padding-bottom: 3em !important; // remove other padding
    div.overlay {
      display: block;
      width: 100%;
      height: 90%;
      position: absolute;
      // same as H3 height
      top: 4.5em;
      z-index: 42;
      padding: 50% 0;
      background-color: rgba(44, 44, 44, 0.6);
      text-align: center;
      animation: fadeIn linear 0.35s;
      .loader-icon {
        display: inline-block;
        animation: infinite-rotate 0.5s infinite;
        width: 4em;
        height: 4em;
      }
    }
    h3 {
      height: 1.5em;
      padding: 0.2em 1em !important; // remove important after joining with other styles!!!
      border-bottom: 2px solid gray;
    }
    h4 {
      letter-spacing: 3px;
      border: 2px solid gray;
      border-width: 1px 0 1px 0;
      text-align: center;
      color: #62a196;
      padding: 0px 5px;
    }
    div.form-content {
      padding: 0.5em 0 10px;
      overflow: hidden;
      div.form-group {
        margin: 0.5em 5px;
        .form-item {
          .input-container {
            border: solid #dbf2f5;
            border-width: 0 0 2px;
            &.error {
              border-color: red;
            }
          }
        }
        .form-item {
          .input-container {
            label {
              border-width: 0 1px 0 1px;
              input {
                outline: none;
              }
              textarea {
                border: 1px solid lightcyan;
                width: 100%;
                min-height: 80px;
                background: inherit;
                outline: none;
              }
            }
            &.email {
              flex: 3;
            }
          }
          .checkbox-container {
            margin: 0.35em;
            clear: both;
            overflow: hidden;
            label {
              display: block;
              cursor: pointer;
              user-select: none;
              p {
                display: block;
                white-space: nowrap;
                margin: 2px;
                &.price {
                  font-style: italic;
                }
              }
              input {
                float: left;
              }
            }
            &.centered {
              text-align: center;
              label {
                input {
                  margin: 1em 2px;
                }
              }
            }
          }
        }
        &.double {
          display: flex;
          .form-item {
            flex: 1;
          }
        }
        .input-container {
          label {
            display: block;
            position: relative;
            padding: 0.25em 0.5em;
            background: whitesmoke;
            user-select: none;
            cursor: text;
            span.label-text {
              position: absolute;
              top: 0.25em;
              left: 0.7em;
              transition: all 0.2s ease-in-out;
              font-size: 1.2em;
              color: gray;
            }
            input {
              background: none;
              color: black;
              padding: 5px 0.5em;
              display: block;
              border: none;
              border-radius: 0;
              outline: none;
            }
            &.shrink {
              span.label-text {
                top: -0.7em;
                left: 0.5em;
                font-size: 80%;
                color: #282828;
              }
            }
          }
        }
      }
      div.message-pane {
        display: block;
        margin: 0.5em;
        .message {
          display: block;
          font-size: 0.95em;
          font-style: italic;
          &.error {
            color: red;
          }
        }
      }
    }
    div.response-body {
      padding: 2em;
      h4 {
        padding: 0;
        font-weight: bold;
        font-style: italic;
        color: rgb(65, 65, 65);
        border: none;
      }
      p {
      }
    }
    .control-bar {
      position: absolute;
      bottom: 0;
      clear: both;
      overflow: hidden;
      background: wheat;
      padding: 10px 0;
      display: block;
      width: 100%;
      border-top: 2px solid gray;
      p.sum {
        font-size: 120%;
        text-align: center;
        margin: 0.4em 0 0;
      }
      .button {
        margin: 0 0.6em;
        font-size: 1.3em;
        cursor: pointer;
        border-radius: 4px;
        border: 2px solid;
        color: gray;
        transition: all 0.2s ease-in-out;
        background: white;
        &.disabled {
          color: #ccc;
          cursor: default;
        }
        &:not(.disabled) {
          &:hover {
            background-color: whitesmoke;
            color: gray;
            svg{
              color: greenyellow;
            }
          }
        }
        &.left {
          float: left;
          svg {
            float: left;
          }
        }
        &.right {
          float: right;
          svg {
            float: right;
          }
        }
        span {
          display: inline-block;
          margin: 0.2em;
        }
        svg {
          float: right;
          margin: 3.3% auto 0;
          transition: color .3s ease-in-out;
        }
      }
    }
  }
}
