section#prihlaska {
  .appform {
    h3 {
      padding-top: 0;
      margin-bottom: 10px;
      border-bottom: 2px solid gray;
    }
    h4 {
      text-align: center;
      letter-spacing: 3px;
    }
    div.form-content {
      overflow: hidden;
      div.form-group {
        margin: 0.4em 5px;
        &.double {
          display: flex;
          justify-content: space-around;
          .form-item {
            flex: 1;
            .input-container {
              label {
                border-width: 0 1px 0 1px;
                input {
                  outline: none;
                }
                textarea {
                  border: 1px solid lightcyan;
                  width: 100%;
                  min-height: 80px;
                  background: inherit;
                  outline: none;
                }
              }
              &.email {
                flex: 3;
              }
            }
            .checkbox-container {
              margin: 0.35em;
              label {
                display: block;
                cursor: pointer;
                user-select: none;
                input {
                  margin-bottom: 2px;
                }
              }
              &.right {
                clear: both;
                overflow: hidden;
                text-align: right;
                input {
                  float: right;
                }
              }
            }
          }
        }
        .input-container {
          label {
            display: block;
            position: relative;
            padding: 0.25em 0.5em;
            background: whitesmoke;
            user-select: none;
            cursor: text;
            span.label-text {
              position: absolute;
              top: 0.25em;
              left: 0.7em;
              transition: all 0.2s ease-in-out;
              font-size: 1.2em;
              color: gray;
            }
            input {
              background: none;
              color: black;
              padding: 5px 0.5em;
              display: block;
              border: none;
              border-radius: 0;
              outline: none;
            }
            &.shrink {
              span.label-text {
                top: -0.8em;
                left: 0.5em;
                font-size: 80%;
                color: black;
              }
            }
          }
        }
      }
    }
  }
}